body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#titel-wrapper {
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 20px auto;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin-top: -1em;
}

p {
  font-size: 1em;
}

.main-container {
  height: fit-content;
  display: flex;
  direction: row;
  border-top: solid 5px black;
}

#main-menu {
  direction: column;
  width: 22.5vw;
  height: fit-content;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

#main-geselecteerd {
  background-color: #7bc9431b;
}

#sub-geselecteerd {
  background-color: #7bc9431b;
}

#sub-menu {
  direction: column;
  width: 22.5vw;
  height: fit-content;
}

/* #sub-menu :first-child {
  margin-top: 5em;
} */

#opiniestuk {
  background-color: #7bc9431b;
  font-size: 0.8em;
  direction: column;
  width: 55vw;
  border: solid 1px black;
  padding: 2em 6em;
}

.menu-card {
  height: 15vh;
  border-bottom: solid 1px black;
  background-color: rgb(248, 249, 253);
  text-align: center;
  align-content: center;
}

.sub-menu-card {
  height: 7.5vh;
  border-bottom: solid 1px black;
  background-color: rgb(248, 249, 253);
  text-align: center;
  align-content: center;
}
