body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #46a5dc0D;
}

.links {
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
}

.rechts {
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
}

strong {
  font-size: 1.2em;
  font-weight: 500;
}

p {
  margin-bottom: 2em;
    font-size: 1.1em;
}



#titel-wrapper {
  margin: 0;
  background-color: #2a92bb;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.1em 5em;
}

#logo {
  width: 60px;
  height: 60px;
}

#foto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 2.3em;
  margin-bottom: -1em;
}

#profiel {
  color: white;
  text-align: center;
}


h1 {
  color: white;
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
  font-weight: 200;
  margin-top: -1em;
  margin-bottom: 1.5em;
}

.main-container {
  height: fit-content;
  display: flex;
  direction: row;
  border-top: solid 3px black;
}

#main-menu {
  direction: column;
  width: 22.5vw;
  height: fit-content;
  margin-top: 5em;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

#main-geselecteerd {
  background-color: #2a92bb99;

}

#sub-geselecteerd {
  background-color: #2a92bb4D;
}

#sub-menu {
  direction: column;
  width: 22.5vw;
  height: fit-content;
  margin-top: 5em;
  border-top: solid 1px black;
}

#opiniestuk {
  flex: 1;
  background-color: #2a92bb1C;
  font-size: 0.8em;
  direction: column;
  width: 55vw;
  border: solid 1px black;
  padding: 2em 6em 2em 6em;
}

.subtitel {
  font-weight: 700;
  margin-bottom: -0.6em;
}

#flow {
  width: 600px;
  margin-left: 10em;
}

.menu-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-size: 1.5em;
  padding: 1em 1.5em 0.4em 1.5em;
  height: 15vh;
  border-bottom: solid 1px black;
  background-color: rgb(248, 249, 253);
  text-align: center;
  align-content: center;
}

.sub-menu-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em 0.2em 1em;
  gap: 2em;
  height: 7.5vh;
  border-bottom: solid 1px black;
  background-color: rgb(248, 249, 253);
  text-align: center;
  align-content: center;
}
