body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #46a5dc0D;
}

strong {
  font-size: 1.2em;
}

p {
  margin-bottom: 2em;
}
#titel-wrapper {
  margin: 0;
  background-color: #2a92bb;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.1em 5em;
}

#logo {
  width: 60px;
  height: 60px;
}

#foto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h1 {
  color: white;
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin-top: -1em;
}

p {
  font-size: 1em;
}

.main-container {
  height: 105vh;
  display: flex;
  direction: row;
  border-top: solid 3px black;
}

#main-menu {
  direction: column;
  width: 22.5vw;
  height: fit-content;
  margin-top: 5em;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

#main-geselecteerd {
  background-color: #2a92bb99;

}

#sub-geselecteerd {
  background-color: #2a92bb4D;
}

#sub-menu {
  direction: column;
  width: 22.5vw;
  height: fit-content;
  margin-top: 5em;
  border-top: solid 1px black;
}

#opiniestuk {
  flex: 1;
  background-color: #2a92bb1C;
  font-size: 0.8em;
  direction: column;
  width: 55vw;
  border: solid 1px black;
  padding: 2em 6em 18em 6em;
}

.menu-card {
  font-size: 1.5em;
  height: 15vh;
  border-bottom: solid 1px black;
  background-color: rgb(248, 249, 253);
  text-align: center;
  align-content: center;
}

.sub-menu-card {
  height: 7.5vh;
  border-bottom: solid 1px black;
  background-color: rgb(248, 249, 253);
  text-align: center;
  align-content: center;
}
